*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-section{
    padding: 15px 5%;
}
.header-section nav{
    display: flex;
    justify-content: space-between;
    
}
.header-section>nav>h3{
    font-size: 25px;
    color: #000;
}

.header-section>nav>h3>span{
    color: rgb(247, 24, 8);
}
.header-section>nav a{
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.5s;
}
.header-section>nav a:hover{
    background-color: #000;
    color: #fff;
}

.hero-section{
    margin-top: 20px;
    background-image: url(assets/Hero-bg.png);
    width:1300px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 10px 10%;
    
    
    
}
.hero-content{
    width: 950px;
    height: 580px; 
       
}
.hero-img{
   width: 200px;
   height: 150px;
   margin-left: 300px;
   
}
.hero-title>h3{
    font-size: 40px;
    margin-top: 100px;
    margin-left: 30px;
    font-weight: 700;   

}
.hero-title>h3 span{
    margin-left: 250px;
}
.ddd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}