*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-section{
    padding: 15px 5%;
}
.header-section nav{
    display: flex;
    justify-content: space-between;
    
}
.header-section>nav>h3{
    font-size: 25px;
    color: #000;
}

.header-section>nav>h3>span{
    color: rgb(247, 8, 8);
}
.header-section>nav a{
    text-decoration: none;
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.5s;
}
.header-section>nav a:hover{
    background-color: #000;
    color: #fff;
}

.hero-section{
    margin-top: 20px;
    background-image: url(assets/Hero-bg.png);
    width:1300px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 10px 10%;
    
    
    
}
.hero-content{
    width: 950px;
    height: 580px; 
       
}
.hero-img{
   width: 200px;
   height: 150px;
   margin-left: 350px;
   
}
.hero-title>h3{
    font-size: 50px;
    margin-top: 150px;
    margin-left: 40px;
    font-weight: 700;   

}
.hero-title>h3 span{
    margin-left: 280px;
    color: rgb(247, 8, 8);
}
.hero-title>p{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 60px;
}
.btn{
    margin-top: 50px;
    margin-left: 330px;
    background-color: rgb(13, 19, 33);
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    transition: 0.5s;
}
.btn:hover{
   background-color: #fff;
   color:rgb(13, 19, 33);
}
.main-con{
    background-color:rgba(250,250,251,255);
    width: 1300px;
    height: 1100px;
    margin: 40px 20px;
    border-radius: 10px;
    
}
.main-title{
    padding: 10px 0;
}
.main-title h3{
    margin-left: 350px;
    margin-top: 40px;
    font-size: 40px;
}
.main-title p{
    font-size: 20px;
    margin-left: 180px;
    margin-top: 30px;
}
.dev-cintai{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    align-items: center;
    
}
.devolopment-text{
    background-color: #fff;
    width: 600px;
    height: 200px;
    margin-top: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.devolopment-text h4{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 25px;
    line-height: 22px;
}
.devolopment-text p{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
    
}
.middle-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dev-btn{
    margin-top: 25px;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    background-color:rgb(13, 19, 33); 
    color: #fff;
    transition: 0.5s;
}
.dev-btn:hover{
    background-color: #fff;
    color:rgb(13, 19, 33);
}
.dev-pic{
   margin-right: 205x;
   margin-top: 40px;
   
   
}
.middle-sec img{
    margin-left: 130px;
    margin-top: 50px;
}
.devolopment-text-1{
    background-color: #fff;
    width: 600px;
    height: 200px;
    margin-top: 25px;
    margin-right: 140px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.devolopment-text-1 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 20px;
}
.devolopment-text-1 p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    line-height: 20px;
}
.middle-btn{
    margin-top: 25px;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    background-color:rgb(13, 19, 33); 
    color: #fff;
    transition: 0.5s;

}
.middle-btn:hover{
    background-color: #fff;
    color:rgb(13, 19, 33);
}
.devolopment-text-1{
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 600px;
    height: 200px;
}